*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
      
 }

 .navbar ul{
    list-style: none;
    text-align: right;
    padding: 20px;
    
     
 }
  
 .navbar li {
     display: inline-block;
     
 }

 .navbar a {
    text-decoration: none;
    color: rgb(86, 11, 226);
    width: 100px;
    display: block;
    padding: 20px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
  

.img{
    position: absolute; /* remove the logo from the flow */
    left: 20px;   /* move the logo to left */
    height: 48px;
    width: 80px;
    padding: 20px;
  }